{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Tanay's Flask Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/About-Me.jpg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who Am I?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I'm Tanay Patel and I currently attend Del Norte High School as a sophomore.</li>
                            <li>I am an only child.</li>
                            <li>My favorite type of food is Mexican food, especially enchiladas.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/hobby.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Hobbies</h5>
                    <p class="card-text">
                        <ol>
                            <li>I playing and watching basketball.</li>
                            <li>I play video games, my favorite is Ghost of Tsushima.</li>
                            <li>I also enjoy reading, my favorite books are 1984 and the Count of Monte Cristo.</li>
                            <li>I used to go mountain biking quite a bit, but not so much anymore</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/fun-facts.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Fun Facts About me</h5>
                    <p class="card-text">
                        <ol>
                            <li>My favorite colors are black and purple.</li>
                            <li>My favorite TV show is Breaking Bad.</li>
                            <li>My favorite school subjects are math and biology.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}